@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@500;700&display=swap);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(Resources/Login-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Roboto", sans-serif;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}
.login_container {
  display: flex;
  justify-content: space-between; /* Create space between panels */
  width: 100vw; /* Full width of the viewport */
  overflow-x: hidden; /* Hide horizontal overflow */
}

.login_panel{
  width: calc(40% - 3rem); /* Set a fixed width for the login panel */
  text-align: left;
  background-color: rgba(195, 215, 239, 0.7);
  margin: 0;
  margin-left: 3rem;
  padding: 6rem 3rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}

.login_clg {
  width: calc(40% - 3rem); /* Set a fixed width for the login_clg */
  display: flex;
  justify-content: flex-end; /* Align to the right */
  padding: 2rem;
}
 .login_clg h1{
  font-size: 5rem;
  color: #ffffff; 
  text-shadow: 2px 2px 1px 0px #BA2928;
 }

h2 {
  font-size: 2.4rem;
}

label {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.text_input {
  padding-bottom: 3rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 6px 0px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  margin: 10px;
}

.log_sign_btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 2rem 0rem 1rem 0rem;
}

.log_sign_btn button:first-child {
  flex: 1;
  margin: 0rem 1rem;
  background-color: #BA2928;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px 0px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.log_sign_btn button:nth-child(2) {
  flex: 1;
  margin: 0rem 1rem;
  background-color: #E5E5E5;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px 0px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

button:hover {
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.forgot-password-link {
  color: #000000;
  cursor: pointer;
  text-decoration: underline;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.forgot-password-link:hover {
  text-decoration: none;
}
