* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  background-color: #EFEFEF;
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;
  
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}
