@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@500;700&display=swap);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(Resources/Login-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}
